<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; color: blue;">select_multiple_topics</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="tn">Topic_name: </label>
        <select name="tn" id="tn" multiple>
            {% for TO in QLTO %}
            <option value="{{TO.Topic_name}}">{{TO.Topic_name}}</option>
            {% endfor %}

        </select>
        <br><br>
        <input type="submit" value="select_multiple_topics">
    </form>
</body>
</html>