<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style=" color: blanchedalmond;">
    <header>
        <h1 style="text-align: center;">🚀 Welcome to My Django Project</h1>
        
    </header>

    <main>
        <div class="card" style="text-align: center;">
            <h2 style="color: aqua;">Hello Developer 👋</h2>
            <p style=" color: blue;">This is your first styled Django page.</p>
            <button>Click Me</button>
        </div>
    </main>
<h2 style="text-align: center; color: blueviolet;" >{{name}} age is :    {{age}}</h2>
    
    

</body>
</html>